@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
}

.main {
  display: flex;
  border: 1px solid black;
  height: 85vh;
}

.mi__sold {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  width: 99vh;
  height: 85vh;
}
